-libraryjars <java.home>/lib/rt.jar:/usr/share/ant/lib/ant.jar

# -dontskipnonpubliclibraryclasses
# -dontskipnonpubliclibraryclassmembers
-keepclassmembers class * {
    static final %                *;
    static final java.lang.String *;
}

-dontoptimize
-dontobfuscate
-dontpreverify
-printusage usage-report.txt
-target 1.6
-verbose
-whyareyoukeeping class *

-keep public class * {
  *** main(java.lang.String[]);
  # ** MODULE$;
}
-keep class scala.runtime.**
-keep class scala.Function*
-keep class scala.Product*
-keep class scala.Tuple*
-keep class **.package*
