-target 1.6
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-verbose
# -dontoptimize
-optimizationpasses 5
-dontobfuscate
-dontpreverify
-dontshrink
-printusage
# -dump

-basedirectory /scala/trunk/build/pack
-injars       lib/scala-library.jar(!scala.runtime.ScalaRunTime*)
-outjars      /scala/trunk/build/shrunk/lib/scala-library.jar
-injars       lib/scala-compiler.jar
-outjars      /scala/trunk/build/shrunk/lib/scala-compiler.jar
-injars       lib/scala-repl.jar
-outjars      /scala/trunk/build/shrunk/lib/scala-repl.jar
-injars       lib/scala-asm.jar
-outjars      /scala/trunk/build/shrunk/lib/scala-asm.jar
-injars       lib/jline.jar
-outjars      /scala/trunk/build/shrunk/lib/jline.jar
-injars       lib/forkjoin.jar
-outjars      /scala/trunk/build/shrunk/lib/forkjoin.jar
-libraryjars  /scala/trunk/lib_managed/jars/org.fusesource.jansi/jansi/jansi-1.4.jar
-libraryjars  <java.home>/lib/rt.jar
-libraryjars  /usr/share/java/ant-1.8.2/lib/ant.jar
-printmapping proguard.map

-keepparameternames
-keepattributes *Annotation*,InnerClasses,Signature,SourceFile,LineNumberTable,StackMapTable,EnclosingMethod,Scala,ScalaSig
# -renamesourcefileattribute SourceFile

-keep class **.package*
-keep class * implements org.xml.sax.EntityResolver
-keep class scala.** 

# -dontwarn scala.**

# -keepclasseswithmembers public class * {
#     public static void main(java.lang.String[]);
#     public static ** *;
# }
-keepclasseswithmembers class * {
    ** MODULE$;
    ** bytes();
    public static *** *;
}

-keepclassmembernames class ** {
  void readResolve();
}

-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinPool {
    long eventCount;
    int  workerCounts;
    int  runControl;
}

-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinWorkerThread {
    int base;
    int sp;
    int runState;
}

-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinTask {
    int status;
}
